body {
    background-image: url('party.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    font-family: cursive;
    color: darkorchid;
    font-weight: bold;
    font-style: italic;
}

#info {
    background-color: khaki;
}

hr {
    border-top: 2px solid palevioletred;
}

h3{
    font-weight: bold;
    color: royalblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-warning:hover
{
    background-color: rgb(236, 7, 99);
}

